Header {
	background-color: #9933ff;
	height: 250px;
}
nav ul li {
	display: inline;
}
nav ul li a {
	text-decoration: none;
	background-color: #ff3333;
	color: #ffff1a;
	padding: 10px 25px 10px 25px;
	border-radius: 8px 8px 0px 0px;
}
nav {
	position: relative;
	top: 52px;
}
h1 {
	color: #990000;
}
h3 {
	color: #ff3333;
}
p {
	color: #008fb3;
}
.button {
	text-decoration: none;
	background-color: #9933ff;
	color: #ffff1a;
	padding: 7px 5px 7px 5px;
	border-radius: 8px;
}
.button:hover {
	background-color: #0040ff;
}
footer {
	background-color: #9933ff;
	padding: 25px;
	margin-top: 20px;
}
footer p {
	color: #ffff1a;
	text-align: center;
}
